body {
    font-family: 'Poppins', sans-serif;
}
/*
header{
    background: url('/images/elect_vote.jpg') center center no-repeat;
}
    */
header img {
    width: 20%;
}
.hero-section {
    
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.features-section {
    padding: 60px 0;
}
.features-section h2 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.testimonials-section {
    background-color: #f8f9fa;
    padding: 60px 0;
}
.testimonials-section h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.rounded-circle{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: block;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}
