body {
    font-family: 'Poppins', sans-serif;
}

header{
    height: 850px;
}
.navbar-brand{
    position: absolute;
    left: 5rem;
    top: 1rem;
}

.navbar-brand img{
    width: 70%;
    height: 4rem;
}

.navbar-collapse{
    top: 3rem;
    position: absolute;
    right: 8rem;
}
.navbar-toggler{
    position: absolute;
    right: 4rem ;
    top: 2rem;

}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}
.hero-section{
    position: absolute;
    top: 21rem;
    left: 5rem;
} 

.features-section {
    padding: 60px 0;
}

.features-section h2 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.testimonials-section {
    background-color: #f8f9fa;
    padding: 60px 0;
}

.testimonials-section h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.rounded-circle{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: block;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}
